/* Fondo de la página */
body {
    background: linear-gradient(135deg, #111, #444); /* Fondo negro con un gradiente sutil */
    color: white; /* Color de texto blanco */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* Footer */
  footer {
    background: linear-gradient(135deg, #111, #444); /* Fondo negro con gradiente para el footer */
    color: white; /* Texto blanco en el footer */
    padding: 1rem 0;
    margin-top: 2rem;
  }
  
  footer p {
    font-size: 0.875rem; /* Tamaño pequeño para el texto */
  }
  
  footer a {
    color: white; /* Color blanco para los enlaces */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #3b82f6; /* Color azul brillante cuando se pasa el mouse */
  }
  
  footer .flex {
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
  }
  