<section class="flex flex-col items-center ">

    <!-- Título de la Sección -->
    <h2 class="text-2xl font-bold text-center pt-8">Clientes Registrados</h2>
  
    <!-- Tabla de clientes -->
    <div class="table-container p-6 flex justify-center">
      <table class="shadow-2xl rounded-2xl border border-gray-600 backdrop-blur-lg bg-white/10 overflow-hidden">
        <thead class="bg-gradient-to-r from-indigo-600 to-purple-600 text-white">
          <tr class="text-lg text-center">
            <th class="px-6 py-3 border-b border-gray-500">ID</th>
            <th class="px-6 py-3 border-b border-gray-500">Nombre</th>
            <th class="px-6 py-3 border-b border-gray-500">Apellido</th>
            <th class="px-6 py-3 border-b border-gray-500">Edad</th>
            <th class="px-6 py-3 border-b border-gray-500">Correo</th>
            <th class="px-6 py-3 border-b border-gray-500">Acciones</th>
          </tr>
        </thead>
        <tbody class="text-white">
          <tr *ngFor="let cliente of clientes" class="text-center bg-gray-800 hover:bg-gray-700 transition duration-300">
            <td class="px-6 py-4 border-b border-gray-600">{{ cliente.id }}</td>
            <td class="px-6 py-4 border-b border-gray-600">{{ cliente.nombre }}</td>
            <td class="px-6 py-4 border-b border-gray-600">{{ cliente.apellido }}</td>
            <td class="px-6 py-4 border-b border-gray-600">{{ cliente.edad }}</td>
            <td class="px-6 py-4 border-b border-gray-600">{{ cliente.correo }}</td>
            <td class="px-6 py-4 border-b border-gray-600 flex justify-center space-x-3">
              <button (click)="eliminarCliente(cliente.id)" class="px-4 py-2 bg-red-500 hover:bg-red-600 rounded-lg shadow-lg text-white flex items-center space-x-2 transition-all transform hover:scale-105">
                <i class="fas fa-trash-alt"></i><span>Eliminar</span>
              </button>
              <button (click)="editarCliente(cliente)" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 rounded-lg shadow-lg text-white flex items-center space-x-2 transition-all transform hover:scale-105">
                <i class="fas fa-edit"></i><span>Editar</span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Botón para agregar nuevo cliente -->
    <div class="text-center mt-8">
      <button (click)="mostrarFormularioNuevo()" class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">Agregar Nuevo Cliente</button>
    </div>
  
    <!-- Formulario para agregar/editar cliente -->
    <div *ngIf="formularioVisible" class="mt-8 p-4 bg-gray-800 text-white rounded-lg formulario_cliente">
      <h3 class="text-xl font-bold text-center">{{ formularioCliente ? 'Editar Cliente' : 'Agregar Nuevo Cliente' }}</h3>
      <form (ngSubmit)="guardarCliente(formulario)" #formulario="ngForm" class="space-y-4">
        <div>
          <label for="nombre" class="block text-sm font-medium ">Nombre</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
        </div>
        <div>
          <label for="apellido" class="block text-sm font-medium ">Apellido</label>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
        </div>
        <div>
          <label for="edad" class="block text-sm font-medium ">Edad</label>
          <input type="number" id="edad" name="edad" [(ngModel)]="cliente.edad" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
        </div>
        <div>
          <label for="correo" class="block text-sm font-medium ">Correo Electrónico</label>
          <input type="email" id="correo" name="correo" [(ngModel)]="cliente.correo" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
        </div>
        <div>
          <label for="direccion" class="block text-sm font-medium ">Dirección</label>
          <textarea id="direccion" name="direccion" [(ngModel)]="cliente.direccion" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required></textarea>
        </div>
        <div>
          <label for="contrasena" class="block text-sm font-medium ">Contraseña</label>
          <input type="password" id="contrasena" name="contrasena" [(ngModel)]="cliente.contrasena" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
        </div>
        <button type="submit" class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 mt-4">{{ formularioCliente ? 'Actualizar Cliente' : 'Agregar Cliente' }}</button>
      </form>
    </div>
</section>

