<h2 class="text-2xl font-bold text-center">Administradores Registrados</h2>

<!-- Tabla de administradores -->
<table class="min-w-full table-auto mt-8">
  <thead class="bg-gray-800 text-white">
    <tr>
      <th class="px-4 py-2">ID</th>
      <th class="px-4 py-2">Nombre</th>
      <th class="px-4 py-2">Apellido</th>
      <th class="px-4 py-2">Correo</th>
      <th class="px-4 py-2">Rol</th>
      <th class="px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody class="bg-gray-700 text-white">
    <tr *ngFor="let administrador of administradores">
      <td class="px-4 py-2">{{ administrador.id }}</td>
      <td class="px-4 py-2">{{ administrador.nombre }}</td>
      <td class="px-4 py-2">{{ administrador.apellido }}</td>
      <td class="px-4 py-2">{{ administrador.correo }}</td>
      <td class="px-4 py-2">{{ administrador.rol }}</td>
      <td class="px-4 py-2">
        <!-- Botones de acción -->
        <button (click)="eliminarAdministrador(administrador.id)" class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600">Eliminar</button>
        <button (click)="editarAdministrador(administrador)" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 ml-2">Editar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Botón para agregar nuevo administrador -->
<div class="text-center mt-8">
  <button (click)="mostrarFormularioNuevo()" class="px-4 py-2 bg-green-600 text-white rounded-lg hover:bg-green-700">Agregar Nuevo Administrador</button>
</div>

<!-- Formulario para agregar/editar administrador -->
<div *ngIf="formularioVisible" class="mt-8 p-4 bg-gray-800 text-white rounded-lg">
  <h3 class="text-xl font-bold text-center">{{ formularioAdministrador ? 'Editar Administrador' : 'Agregar Nuevo Administrador' }}</h3>
  <form (ngSubmit)="guardar(formulario)" #formulario="ngForm" class="space-y-4">
    <div>
      <label for="nombre" class="block text-sm font-medium text-gray-600">Nombre</label>
      <input type="text" id="nombre" name="nombre" [(ngModel)]="administrador.nombre" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
    </div>
    <div>
      <label for="apellido" class="block text-sm font-medium text-gray-600">Apellido</label>
      <input type="text" id="apellido" name="apellido" [(ngModel)]="administrador.apellido" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
    </div>
    <div>
      <label for="correo" class="block text-sm font-medium text-gray-600">Correo Electrónico</label>
      <input type="email" id="correo" name="correo" [(ngModel)]="administrador.correo" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
    </div>
    <div>
      <label for="contrasena" class="block text-sm font-medium text-gray-600">Contraseña</label>
      <input type="password" id="contrasena" name="contrasena" [(ngModel)]="administrador.contrasena" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500" required>
    </div>
    <div>
      <label for="rol" class="block text-sm font-medium text-gray-600">Rol</label>
      <select id="rol" name="rol" [(ngModel)]="administrador.rol" class="w-full px-4 py-2 mt-1 border rounded-lg focus:ring-blue-500 focus:border-blue-500">
          <option value="administrador">Administrador</option>
          <option value="cliente">Usuario</option>
        <option value="empleado">Empleado</option>
      </select>
    </div>
    <button type="submit" class="w-full px-4 py-2 text-white bg-blue-600 rounded-lg hover:bg-blue-700 mt-4">{{ formularioAdministrador ? 'Actualizar Administrador' : 'Agregar Administrador' }}</button>
      
  </form>
</div>

