/* Asegura que el body ocupe toda la altura y centra el formulario */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #1A202C; /* Fondo oscuro */
  }
  
  /* Asegura que el formulario tenga un buen aspecto */
  form {
    background-color: #2D3748; /* Fondo oscuro para el formulario */
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px; /* Limita el tamaño del formulario */
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
  }
  
  /* Mejora la apariencia de los títulos */
  h2 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Personalización de los inputs y selects */
  input, select, textarea {
    background-color: #4A5568; /* Fondo más claro para los inputs */
    color: white;
    border: 1px solid #A0AEC0;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    margin-top: 8px;
    transition: all 0.3s ease;
  }
  
  /* Efecto de foco */
  input:focus, select:focus, textarea:focus {
    border-color: #63B3ED;
    outline: none;
    box-shadow: 0 0 5px rgba(99, 179, 237, 0.5);
  }
  
  /* Botón de envío */
  button {
    background-color: #3182CE; /* Azul claro */
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Cambia el color del botón cuando pasa el mouse */
  button:hover {
    background-color: #2B6CB0;
  }
  
  button:active {
    background-color: #2C5282;
  }
  